
{% if (aSurveyInfo.aNavigator.show and aSurveyInfo.include_content != 'firstpage')  %}
    <div class="{{ aSurveyInfo.class.topcontainer }} lead"  {{ aSurveyInfo.attr.topcontainer  }} aria-hidden="true">
        <div class="{{ aSurveyInfo.class.topcontent  }} container-fluid" {{ aSurveyInfo.attr.topcontent  }} >
            {% if aSurveyInfo.format != 'A' and aSurveyInfo.showprogress is defined and aSurveyInfo.showprogress == 'Y' %}
                {{  registerPublicCssFile('lime-progress.css') }}
                {% set progressValue  = ( aSurveyInfo.progress.total > 0 ) ? intval( (aSurveyInfo.progress.currentstep - 1) / aSurveyInfo.progress.total * 100 ) : 0 %}
                <div class="{{ aSurveyInfo.class.progress  }}" {{ aSurveyInfo.attr.progress  }}>
                    <div class="{{ aSurveyInfo.class.progressbar  }}" {{ aSurveyInfo.attr.progressbar }} style="min-width: 2em; width: {{ progressValue }}%;">
                         {{ progressValue }}%
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="sr-only">{{ sprintf(gT("%s%% complétés"),progressValue) }}</div>
{% endif %}
